
    <script src="jquery/dist/jquery.slim.min.js"></script>
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="javascripts/script.js"></script>

<!-- footer -->
<footer class="footer">
    <!-- logo list with items as li -->
    <ul class="logo-list">
        <li class="logo-item">
            <a class="logo-link" href="https://www.linkedin.com/in/manipalsidhu">
                <i class="fab fa-linkedin"></i>
            </a>
         </li>
        <li class="logo-item">
             <a class="logo-link" href="https://github.com/manipalsidhu">
                 <i class="fab fa-github"></i>
             </a>
         </li>
         <li class="logo-item">
             <a class="logo-link" href="https://www.instagram.com/manipal.sidhu">
                 <i class="fab fa-instagram"></i>
             </a>
         </li>
     </ul>
     <p id="copyright">Copyright &copy;&nbsp;2021 Manipal Sidhu - Portfolio</p>
 </footer>
</body>
</html>