<% include partials/header.ejs %>

<!-- Full Name -->
<h1 class="mytitle">Manipal Singh Sidhu</h1>

<!-- Title & Picture -->
<h2 class="mytitle">Junior WordPress developer & AI - Student</h2>
<img src="/images/mani-02.JPG" alt="Manipal Picture" class="myphoto">

<!-- Summary about me  -->
<div class="about-me">
  <ul id="aboutlist">
     <li>Currently enrolled in the <b>Software Engineering Technology</b> Advanced Diploma program with specialization in <b>Artificial Intelligence</b> at Centennial</li>
     <br>
     <li>Demonstrated strong skills in <b>HTML5, CSS, JavaScript and WordPress</b> Operations while working on eCommerce business project at <b>Scriptics Technologies Inc.</b></li>
     <br>
     <li>Honed ability to work <b>efficiently</b> and <b>effectively</b> in fast-paced professional environment. Acquired immense knowledge and understanding of <b>WooCommerce</b> and <b>WordPress</b></li>
     <br>
     <li>Enhanced <b>time management</b> and <b>decision-making</b> skills while balancing between academic, professional and athletic responsibilities</li>
  </ul>
</div>

<!-- Resume -->
<p id="resumelink">Click <a href="Resume.pdf">here</a> to view my Resume in PDF version</p>


<% include partials/footer.ejs %>