<% include partials/header.ejs %>
  <h1>Hello, Welcome to my Portfolio</h1>
 
  
  <p>More than 10 years of experience as an IT professional, 
    including software implementation, web portal launches, and project management. 
    Demonstrated a lengthy track record of successful networking, analytical thinking, and creative problem-solving. 
    Able to work under pressure, effective at multitasking, and able to accomplish overall organization objectives.</p>
  
  <p>Social media expert with proven results in the creation and management of social media campaigns for multi billion-dollar companies. Extensive experience across multiple social media channels, including Instagram, Twitter, YouTube, Facebook, and LinkedIn. Holds a degree in psychology with the ability to observe and analyze customer engagement to drive web traffic and build brand awareness.</p>


  <script src="script.js"></script>

<% include partials/footer.ejs %>