<!-- File: index.js Created by: Manipal Singh Sidhu - Student Number: 300859319 - Created on: October 2nd, 2021 -->

<% include partials/header.ejs %>

 <div class="mission">
  <h1>Hello, <br>Welcome to my Portfolio</h1>
  <h2>Mission Statement</h2>
  <p>To work as a Software Engineer applying my knowledge in the field of testing, designing, 
    and maintenance to cater to the specific needs of the people. 
    I wish to work in a team of motivated individuals who wish to work towards the advancement of the company and its goals.</p>
  <p>Demonstrated a lengthy track record of successful networking, analytical thinking, and creative problem-solving. 
    Able to work under pressure, effective at multitasking, and able to accomplish overall organization objectives.</p>

  <b><p>Click <a href="https://portfolio-manipal.herokuapp.com/about">here</a> to know more about me</p></b>
 </div>
 

  <script src="script.js"></script>

<% include partials/footer.ejs %>