<% include partials/header.ejs %>

<h1 class="services"><%= title %></h1>

<!-- Services -->
<div class="services">

  <!-- Service #1 -->
  <div class="service">
    <h2 id="service-title">Software Development</h2>
    <ul>
      <li>Python/C#</li>
      <li>Java</li>
      <li>GIT</li>
      <li>Unix/Linux</li>
      <li>Oracle SQL</li>
    </ul>
  </div>


  <!-- Service #3 -->
  <div class="service">
    <h2 id="service-title">CAD/CAM</h2>
    <ul>
      <li>MasterCam</li>
      <li>AutoCad</li>
      <li>Autodesk Inventor/Fusion</li>
      <li>Materialise Magics</li>
      <li>Meshmixer</li>
      <li>SolidWorks</li>
    </ul>
  </div>

  <!-- Service #3 -->
  <div class="service">
    <h2 id="service-title">Web Development</h2>
    <ul>
      <li>HTML/CSS</li>
      <li>JavaScript</li>
      <li>AWS Lighsail</li>
      <li>WooCommerce</li>
      <li>WordPress</li>
      <li>Adobe XD</li>
    </ul>
  </div>
</div>

<!-- Company Logos -->
<div class="logos">
  <img id="logo" src="/images/html.png">
  <img id="logo" src="/images/css.png">
  <img id="logo" src="/images/js.png">
  <img id="logo" src="/images/py.png">
  <img id="logo" src="/images/java.png">
  <img id="logo" src="/images/csharp.png">
  <img id="logo" src="/images/solid.png">
  <img id="logo" src="/images/meshmixer.png">
  <img id="logo" src="/images/wordpress.png">
  <img id="logo" src="/images/xd.png">
</div>

<% include partials/footer.ejs %>