<!-- File: projects.js Created by: Manipal Singh Sidhu - Student Number: 300859319 - Created on: October 2nd, 2021 -->

<% include partials/header.ejs %>

<h1 class="projects"><%= title %></h1>

<!-- Project -->
<di class="projects">

  <!-- Project #1 -->
  <div class="project-item">
    <h2 id="project-title">Smile Design</h2>
    <ul>
      <li>Web based Dental Aligner Treatment Viewer</b></li>
      <li>Functions to Pause, Play, Rewind, Forward</li>
      <li>Different views available for Viewer</li>
      <a href="https://smartsmile.azurewebsites.net/?caseId=13171928202&theme=arcadlab" title="Click to view Smile Design" target="_blank">
        <img class="pic" src="/images/smiledesign.jpeg">
      </a>
    </ul>
  </div>

  <!-- Project #2 -->
  <div class="project-item">
    <h2 id="project-title">AutoPy</h2>
    <ul>
      <li>Python project to move files automatically</li>
      <li>Move files from one folder to another</li>
      <li>Setup Python script in bat file</li>
      <a href="https://github.com/manipalsidhu/Autopy" title="Click to view Code" target="_blank">
        <img class="pic" src="/images/autopy.jpg">
      </a>
    </ul>
  </div>

  <!-- Project #3 -->
  <div class="project-item">
    <h2 id="project-title">Bug Smasher</h2>
    <ul>
      <li>Smash the bugs with mouse as swatter</li>
      <li>Reset Score and Speed button</li>
      <li>Score counter</li>
      <a href="https://www.maplewebs.ca/project2/Assignment5.html" title="Click to view Project" target="_blank">
        <img class="pic" src="/images/bugsmasher.jpg">
      </a>
    </ul>
  </div>
</di>

<% include partials/footer.ejs %>